<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sage.Sage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Sage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sage.Sage>
            <setting name="Sage_Url" serializeAs="String">
                <value>http://10.200.11.12:28980/adxwsvc/services/CAdxWebServiceXmlCC</value>
            </setting>
            <setting name="Sage_User" serializeAs="String">
                <value>Tangerine</value>
            </setting>
            <setting name="Sage_Pwd" serializeAs="String">
                <value>7oranges</value>
            </setting>
            <setting name="Sage_Pool" serializeAs="String">
                <value>PILOTWEBPOOL</value>
            </setting>
            <setting name="Sage_Language" serializeAs="String">
                <value>ENG</value>
            </setting>
            <setting name="Sage_Request_Config" serializeAs="String">
                <value>adxwss.trace.on=on&amp;adxwss.trace.size=16384&amp;adonix.trace.on=on&amp;adonix.trace.level=3&amp;adonix.trace.size=8</value>
            </setting>
        </Sage.Sage>
        <Sage.Properties.Settings>
            <setting name="Sage_Sage_Ws_CAdxWebServiceXmlCCService" serializeAs="String">
                <value>http://10.200.11.12:28980/adxwsvc/services/CAdxWebServiceXmlCC</value>
            </setting>
            <setting name="X3_Pool" serializeAs="String">
                <value>PILOTWEBPOOL</value>
            </setting>
            <setting name="X3_User" serializeAs="String">
                <value>Tangerine</value>
            </setting>
            <setting name="X3_Password" serializeAs="String">
                <value>7oranges</value>
            </setting>
        </Sage.Properties.Settings>
    </applicationSettings>
</configuration>