<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Meplato.Store2.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Meplato.Store2.Meplato" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup><applicationSettings>
    <Meplato.Store2.Application>
      <setting name="Catalog_Pin" serializeAs="String">
        <value>E616164058</value>
      </setting>
      <setting name="Store_User" serializeAs="String">
        <value>d1b1818558c71134</value>
      </setting>
      <setting name="Store_Url" serializeAs="String">
        <value>https://store.meplato.com/api/v2</value>
      </setting>
      <setting name="Store_Password" serializeAs="String">
        <value>""</value>
      </setting>
    </Meplato.Store2.Application>
    <Meplato.Store2.Meplato>
      <setting name="Catalog_Pin" serializeAs="String">
        <value>87E3AE036B</value>
      </setting>
      <setting name="Store_User" serializeAs="String">
        <value>d1b1818558c71134</value>
      </setting>
      <setting name="Store_Url" serializeAs="String">
        <value>https://store.meplato.com/api/v2</value>
      </setting>
    </Meplato.Store2.Meplato>
  </applicationSettings>
</configuration>
